a {
  color: #00B7FF;
}

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  margin-top: 16rem;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  visibility: hidden;
}

svg {
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: -9rem;
  bottom: 0;
  margin: auto;
  fill: #505050;
}

svg.lock {
  visibility: visible;
  fill: #F44336;
}

svg.icon_unlock {
  visibility: hidden;
}

svg.unlock {
  visibility: visible;
  fill: seagreen;
}